<StyledContainer>
  <h3>State Two</h3>
  <button {{on "click" (fn @updateFlow "SELECT_THREE")}}>Go To Three</button>
  <button {{on "click" (fn @updateFlow "SELECT_FOUR")}}>Go To Four</button>
  <button {{on "click" (fn @updateFlow "SELECT_FIVE")}}>Go To Five</button>
</StyledContainer>