<div>
  <ComplexFlow::FlowManager as |flowState updateFlow|>
    <h2>Current State: {{flowState.value}}</h2>
    <div>
      <ComplexFlow::FlowStatePicker
        @flowState={{flowState}}
        @updateFlow={{updateFlow}}
      />
    </div>

    {{#if (has-block "controls")}}
      {{yield flowState updateFlow to="controls"}}
    {{/if}}

  </ComplexFlow::FlowManager>
</div>