<div>
  <ComplexFlow::FlowManager as |flowState updateFlow|>
    Toggle State: {{flowState.value}}
    <br />
    <button {{on 'click' updateFlow}}>Toggle Me</button>
  </ComplexFlow::FlowManager>
</div>